<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" target="_blank"
        role="button">Download MDB
        <i class="fas fa-download ml-2"></i>
      </a>
      <a class="btn btn-outline-white" href="https://mdbootstrap.com/education/bootstrap/" target="_blank" role="button">Start
        free tutorial
        <i class="fas fa-graduation-cap ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/realsanjeev" target="_blank">
        <i class="fab fa-facebook-f mx-1"></i>
      </a>

      <a href="https://twitter.com/realsanjeev" target="_blank">
        <i class="fab fa-twitter mx-1"></i>
      </a>

      <a href="https://www.instagram.com/realsanjeev" target="_blank">
        <i class="fab fa-instagram mx-1"></i>
      </a>

      <a href="https://pinterest.com/realsanjeev" target="_blank">
        <i class="fab fa-pinterest mx-1"></i>
      </a>

      <a href="https://github.com/realsanjeev" target="_blank">
        <i class="fab fa-github mx-1"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2023 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
    </div>
    <!--/.Copyright-->

  </footer>