{% extends "base.html" %}
{% block title %}
Ecommerce | Products
{% if '?tag=' in request.get_full_path %}
with tag {{ request.get_full_path|cut:'tag=' }}
{% endif %}
{% endblock %}

{% block content %}
<main class="mt-5 p-3">
    <div class="container">
        <!--Navbar-->
        {% include 'product-navbar-snippet.html' %}
        <!--/.Navbar-->

        <!--Section: Products v.3-->
        <section class="text-center mb-4">

            <!--Grid row-->
            <div class="row wow fadeIn">
                {% for product in products %}
                <!--Grid column start -->
                <div class="col-lg-3 col-md-6 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--Card image-->

                        <!--Card content-->
                        <div class="card-body text-center">
                            <!--Category & Title-->
                            <a href="{% url 'product:product-detail' slug=product.slug %}" class="grey-text">
                                <h5>{{ product.get_category_display }}</h5>
                            </a>

                            <h5>
                                <strong>
                                    <a href="{% url 'product:product-detail' slug=product.slug %}"
                                        class="dark-grey-text">{{ product.title }}
                                        <span class="badge badge-pill {{product.get_label_display}}-color">
                                            {% if product.label == 'P' %}
                                            Trending
                                            {% elif product.label == 'D' %}
                                            New
                                            {% else %}
                                            Special
                                            {% endif %}
                                        </span>
                                    </a>
                                </strong>
                            </h5>

                            <h4 class="font-weight-bold blue-text">
                                <strong>${{ product.price }}</strong>
                            </h4>

                        </div>
                        <!--Card content-->

                    </div>
                    <!--Card-->

                </div>
                <!--Grid column end-->
                {% endfor %}

            </div>
            <!--Grid row-->

            <!-- Create new row in every additional fourth col -->

            <!--Pagination-->
            {% if is_paginated %}
            <nav class="d-flex justify-content-center wow fadeIn">
                <ul class="pagination pg-blue">

                    <!--Arrow left-->
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                            <span class="sr-only">(current)</span>
                        </a>
                        <!-- </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li> -->

                        {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
            <!--Pagination-->

        </section>
        <!--Section: Products v.3-->

    </div>
</main>

{% endblock content %}