{% extends "base.html" %}
{% block title %}{{ product.title }} - E-commerce{% endblock title %}

{% block content %}
<main class="mt-5 pt-4">
    <div class="container mt-5">
        <!-- Grid Row -->
        <div class="row">
            <div class="col-md-6 mb-4">
                <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.title }}">
            </div>

            <div class="col-md-6 mb-4">
                <div class="p-4">
                    <div class="mb-3">
                        <div class="mb-3">
                            <span class="badge bg-secondary text-white bg-opacity-75">{{ product.title }}</span>
                            <span class="badge bg-primary text-white bg-opacity-75">{{  product.get_category_display }}</span>
                            <span class="badge bg-danger text-white bg-opacity-75">{{ product.get_label_display }}</span>
                        </div>


                        <p class="lead">
                            {% if product.discounted_price > 0 %}
                            <span class="text-decoration-line-through me-1">${{ product.price }}</span>
                            <span class="fw-bold">${{ product.discounted_price }}</span>
                            {% else %}
                            <span class="fw-bold">${{ product.price }}</span>
                            {% endif %}
                        </p>
                        <!-- description  -->
                        <p class="lead font-weight-bold">Description</p>
                        <p>{{ product.description }}</p>

                        <form class="d-flex justify-content-start" method="post" action="{{ product.get_add_to_cart_url }}">
                            {% csrf_token %}
                            <input type="number" value="1" aria-label="Search" class="form-control" name="quantity"
                                style="width: 100px" min="1" max="64">
                            <button class="btn btn-primary btn-md ms-2" type="submit">Add to cart <i
                                    class="fas fa-shopping-cart ms-1"></i></button>
                        </form>

                    </div>
                </div>
            </div>

            <hr>
            <!-- grid row -->
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-center">
                    <h4 class="my-4 h4">Additional information</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, perspiciatis atque velit, suscipit,
                        deserunt odio iusto dolorum autem eveniet aperiam tempora ducimus itaque. Hic libero maxime
                        accusamus blanditiis tempora vero!

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi veritatis reiciendis esse at,
                        perferendis velit nostrum obcaecati quisquam doloribus tenetur aspernatur, omnis, corporis quod
                        ducimus libero. Deserunt similique recusandae maiores.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg"
                        class="img-fluid" alt="">
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg"
                        class="img-fluid" alt="">
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg"
                        class="img-fluid" alt="">
                </div>
            </div>

        </div>
</main>
{% endblock content %}