{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
E-commerce | Request Refund
{% endblock title %}

{% block content %}
<main class="mt-5 p-3">
    <div class="container mt-3">
        <h2>Request Refund Form</h2>
        <form method="post" action="{% url 'refund:request' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Request Refund</button>
        </form>
    </div>
</main>
{% endblock content %}
